<%- include('../partials/header')%>
<section id="show-page">
    <div>Airline Name: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>


<!-- Iterate over each flight and display flight details -->
<% flights.forEach((flight) => { %>
  <div>
    <p>Flight Number: <%= flight.flightNo %></p>
    <p>Airline: <%= flight.airline %></p>
    <p>Airport: <%= flight.airport %></p>
    <p>Departure Date: <%= flight.departs %></p>

    <% flight.destination.forEach((dest) => { %>
      <p>Destination Airport: <%= dest.airport %></p>
      <p>Arrival Date: <%= dest.arrival.date %></p>
    <% }) %>
</section>
  <!-- Display the flight details -->
  <h1>Flight Details</h1> 
  <p>Flight Number: <%= flight.flightNo %></p>
  <p>Airline: <%= flight.airline %></p>
  <p>Airport: <%= flight.airport %></p>

  <%- include('../partials/footer')%>
  