<!-- <%- include('../partials/header')%> -->
<section id="show-page">
    <div>Airline Name: </div>
    <div><%= flight.Airline %></div>
    <div>Airport: </div>
    <div><%= flight.Airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flight number %></div>
</section>

<!-- Iterate over each flight and display flight details -->
<% flights.forEach(flight => { %>
    <div>
      <p>Flight Number: <%= flight.flightNo %></p>
      <p>Airline: <%= flight.airline %></p>
      <p>Airport: <%= flight.airport %></p>
      <!-- Add the "detail" link with a URL parameter for flight ID -->
      <a href="/flights/<%= flight._id %>">View Details</a>
    </div>
  <% }) %><!-- Display the flight details -->
  <h1>Flight Details</h1>
  <p>Flight Number: <%= flight.flightNo %></p>
  <p>Airline: <%= flight.airline %></p>
  <p>Airport: <%= flight.airport %></p>
  